html, body {
    background: url('https://image.freepik.com/free-vector/gradient-geometric-shapes-dark-background_52683-33027.jpg') fixed;
   background-size: cover;
}

.container{
    height: 100%;
    align-content: center;
    }

*[role="form"] {
   max-width: 650px;
   padding: 15px;
   margin: auto;
   margin-top: 5%;
    margin-bottom: 10%;
   border-radius: 0.3em;
   background-color: rgba(240, 240, 240, 0.486);
}

*[role="form"] h2 { 
    font-family: 'Numans', sans-serif;
   font-size: 40px;
   font-weight: 600;
   color:  #fdc017;
   margin-top: 3%;
   text-align: center;
}


.signup_btn{
    color: black;
    background-color:  #fdc017;
    width: 600px;
    }

    .signup_btn:hover{
        color: black;
        background-color: white;
        }